# {{ ansible_managed }}
<VirtualHost *:8080>
 ServerAdmin webmaster@{{ ansible_fqdn }}
 ServerName {{ ansible_fqdn }}
 ErrorLog logs/{{ ansible_hostname }}-error.log
 CustomLog logs/{{ ansible_hostname }}-common.log common
 DocumentRoot /var/www/vhosts/{{ ansible_hostname }}/
 <Directory /var/www/vhosts/{{ ansible_hostname }}/>
 Options +Indexes +FollowSymlinks +Includes
 Order allow,deny
 Allow from all
 </Directory>
</VirtualHost>
